.center {
    text-align: center;
}

.title {
    text-align: center;
    display: block;
    border: 5px outset black;
    padding: 20px 20px;
    background-color: lightgreen;
    width: 50%;
    margin: auto;
}

body {
    background-color: #34d2eb;
}

.gaolbg {
    position: static;
    width: 100%;
    height: 100%;
}

.leftbar {
    width: 10%;
    height: 50%;
    background-color: purple;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    position: fixed;
    overflow: auto;
}

.leftbar-button {
    display: block;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 25px;
}

.leftbar-button:hover {
    display: block;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    background-color: darkgray;
}

.leftbar-button:active {
    display: block;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    background-color: darkgray;
}

.leftbar-button-clicked {
    display: block;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    background-color: darkgray;
}

.center-text {
    text-align: center;
}

.tasksheetpdf {
    display: block;
    margin: auto;
    border: 10px outset gold;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: lightyellow;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    width: 35%;
}
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
}
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    background-color: lightseagreen;
    max-height: 0;
    color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 35%;
    margin: auto;
}

.cqanswer {
    padding: 0 18px;
    background-color: lightseagreen;
    color: white;
    width: 35%;
    margin: auto;
    font-size: 18px;
    border: 5px inset lightseagreen;
}